body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
   background: #dde1e6;
}
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
/*header,
section,
div,
footer {
        box-sizing: border-box;
    }*/
    h2 {
      margin: 2px;
    }
    @media screen and (max-width:500px){body{
      background-image: url("images/blurbranch.jpg");
    }}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    min-height: 56px;
    transition: min-height 0.3s;
  }
  
  .header__inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .header__logo {
    height: 72px;
    margin-right: 1em;
    vertical-align: top;
    margin-top: 12px;
  }
  
  .header__title {
    font-weight: 300;
    font-size: 4em;
    margin: 0.5em 0.25em;
    display: inline-block;
    color: #212121;
  }
  .nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  .nav__item {
    box-sizing: border-box;
    display: inline-block;
    width: 30%;
    text-align: center;
    line-height: 24px;
    padding: 20px;
    text-transform: uppercase;
  }
  
  .nav a {
    text-decoration: none;
    color: #616161;
    padding: 1.5em;
  }
  
  .nav a:hover {
    text-decoration: underline;
    color: #212121;
  }
  main {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .featured {
    
    background-image: url("images/vanilla-ice-cream.jpg");
    background-size: cover;
    max-width: 100%;
    margin: 1em;
    
  }
  ul {
    list-style: none;
  }
  a {
    text-align: center;
    padding: 2px;
    margin: 1em;
   text-decoration: none;
  }
  
 img {
   float: left;
   margin: 1em;
 }
 a:hover{
   text-decoration: underline;
   color: #00ff0f;
 }
 #about {
   background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Udacity_logo.png/320px-Udacity_logo.png");
   background-repeat: no-repeat;
   background-size: cover;
 }